{% extends 'ViktorijaVikaBudgetBundle:Default:upperpage.html.twig' %}

{%  block meniu %}

<div class="row">

    <div class="col-sm-3">

        <div class="col-md-12 col-sm-12 col-xs-6 "> <a href = "http://www.delfi.lt" id="ireceived" >I received</a></div>
        <div class="col-md-12 col-sm-12 col-xs-6">  <img id = "ispent" src="{{ asset ('bundles/viktorijavikabudget/imaes/meniu_images/savings.jpg')}}"> <link href = "{{ asset('http://www.lrytas.lt') }}">I spent</a> ></div>
        <div class="col-md-12 col-sm-12 col-xs-6"> <a href = "http://www.google.lt" id = "isaved" >I saved</a></div>
        <div class="col-md-12 col-sm-12 col-xs-6"> <a href = "http://www.traders.lt" id="ianalysed" >Statistics</a></div>
        <div class="kuku"></div>
    </div>
    {% block content %}{% endblock %}
</div>


{% endblock %}

