{#hello world#}
{#This text is from my text file.#}

<html>
<body>
{#&#123;&#35;<strong>This is from my Web page.</strong>&#35;&#125;#}

{#<div id="monday">Content for Monday.</div>#}
{#<div id="tuesday">Content for Monday.</div>#}
{#<div id="wednesday">Content for Monday.</div>#}
{#<div id="thursday">Content for Monday.</div>#}
{#<div id="friday">Content for Friday.</div>#}
{#<div id="saturday">Content for Monday.</div>#}
{#<div id="sunday">Content for Monday.</div>#}
{#lalala#}

<?php
    print_r($_POST);
?>
</body>
</html>